
<header>
    {{> navbar}}
</header>

<div class="container-fluid river-container">
    <ul class="unsaved">
        {{#each riverSections}}
            <li data-riverSection-id={{_id}}>
                <div class="row" >
                    <div class="col-2">
                        {{this.riverName}}
                    </div>
                    <div class="col-2">
                        {{this.riverSection}}
                    </div>
                    <div class="col-2">
                        {{this.sectionClass}}
                    </div>
                    <div class="col-1">
                        {{this.sectionCFS}}
                    </div>
                    <div class="col-1">
                        {{this.changeCFS}}
                    </div>
                    <div class="col-2">
                        {{this.recommendation}}
                    </div>
                    <div class="col-2">
                        {{this.lastUpdates}}
                    </div>
                </div>
                <div class="row">
                    <button class="saveRiverSection">Favorite</button>
                    <button class="deleteRiverSection">Remove</button>
                </div>
            </li>
        {{/each}}

    </ul>
</div>


<footer>
{{> footer}}
</footer>


