
<header>
    {{> navbar}}
</header>

<div class="container-fluid">
    <table class="table table-striped table-bordered table-dark table-hover table-sm table-responsive">
        <thead>
            <tr>
            <th class="w10" scope="col">River Name</th>
            <th class="w18" scope="col">Section</th>
            <th class="w7" scope="col">Class</th>
            <th class="w7" scope="col">CFS</th>
            <th class="w7" scope="col">delta</th>
            <th class="w10" scope="col">Recommendation</th>
            <th class="w5" scope="col">Last Updated</th>
            <th class="w3 text-center" scope="col" >Save</th>
            <th class="w3 text-center" scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
           {{#each riverSections}} 
                <tr data-river-section-id={{_id}}>
                    <td>{{this.riverName}}</td>
                    <td>{{this.riverSection}}</td>
                    <td>{{this.sectionClass}}</td>
                    <td>{{this.sectionCFS}}</td>
                    <td>{{this.changeCFS}}</td>
                    <td>{{this.recommendation}}</td>
                    <td>{{this.lastUpdated}}</td>
                    <td class="text-center w4"><button class="btn btn-primary saveRiverSection">+</button></td>
                    <td class="text-center w4"><button class="btn btn-danger deleteRiverSection">-</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<footer>
{{> footer}}
</footer>


